
<p>
<strong>Title:</strong>
<%= @article.title %>
</p>

<p>
<strong>Text:</strong>
<%= @article.text %>
</p>

<p>
<strong>Created By:</strong>
<%= @article.username %>
</p>

<%= link_to 'Back', root_path %>
<% if current_user.username == @article.username %>
    | <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>
