<% name = current_user.present? ? current_user.firstname : 'Someone' %>

<% if user_signed_in? %>
    <h1>Welcome, <%= name %> </h1>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <div>
        <%= link_to 'New article', new_article_path %>
        
        <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Created By</th>
            </tr>
            <% @articles.each do |article| %>
                <tr>
                    <td><%= article.title %></td>
                    <td><%= article.text %></td>
                    <td><%= link_to article.username, posts_path(:username => article.username) %></td>

                    <td><%= link_to 'Show', article_path(article) %></td>
                    <% if current_user.username == article.username %>
                        <td> | </td>
                        <td><%= link_to 'Edit', edit_article_path(article) %></td>
                        <td> | </td>
                        <td><%= link_to 'Destroy', article_path(article),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
      </div>
<% else %>
    <%= link_to 'Sign up', new_user_registration_path %> | <%= link_to 'Sign in', new_user_session_path %>
<% end %>
